.message-item-wrapper {
  --hover-bg-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));

  width: 100%;
  flex-wrap: nowrap;
  padding: 8px 16px 8px 8px;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-gray-4);
  
  cursor: pointer;

  &:hover {
    background-color: var(--hover-bg-color);
  }

  &.editing {
    background-color: var(--hover-bg-color);
  }
}

.message-item {
  width: 100%;
  line-height: 1.5;
  align-self: center;

  &__avatar-placeholder {
    line-height: 1.5;
  }

  &__edit-input-wrapper {
    width: 100%;
    flex-grow: 1;
    align-self: center;
  }
  
  &__edit-input {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}

