.root {
  overflow: hidden;
  border-radius: var(--mantine-radius-md);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    border-radius: var(--mantine-radius-md);
  }
}

.content.editing {
  max-height: 450px;
  overflow-y: auto;
}

.root.editing {
  cursor: auto;
}
